{% extends "base.html" %} {% block title %}{{ album.album_name }}{% endblock %}

<!-- I override the block content created in "base.html" -->

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='album_style.css') }}">


    <body>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-content">

                    <!-- ***** Banner Start ***** -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-profile ">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <img src="https://img.freepik.com/premium-vector/vintage-music-record-vinyl-with-note-vector-illustration_475148-272.jpg?w=2000"
                                             alt="" style="border-radius: 23px;">
                                    </div>
                                    <div class="col-lg-4 align-self-center">
                                        <div class="main-info header-text">
                                            <h3>Album:</h3>
                                            <h3>{{ album.album_name }}</h3>
                                            <br/>
                                            <p>{{ album.description }}</p>
                                            {% if user_type == 0 %}
                                                <div class="main-border-button">
                                                    <a href="/artist/{{ artist_id }}">Discover Artist</a>
                                                </div>
                                            {% elif user_type == 1 %}
                                                <div class="main-border-button">
                                                    <a href="/user/dashboard">Discover Artist</a>
                                                </div>
                                                {% if owner %}
                                                    <div class="main-border_two-button">
                                                        <a href="/album/delete_album/{{ album.id }}">Delete Album</a>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-lg-4 align-self-center">
                                        <ul>
                                            <li>Artist <span>{{ artist }}</span></li>
                                            <li>Launch Date <span>{{ album.launch_date }}</span></li>
                                            <li>Number of Songs <span>{{ album.n_songs }}</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gaming-library profile-library">
                        <div class="col-lg-12">
                            {% if songs %}
                                <div class="heading-section">
                                    <h4>Songs in this album:</h4>
                                </div>
                                <br>
                            {% else %}
                                <div class="heading-section">
                                    <h4>There are no songs in this album</h4>
                                </div>
                            {% endif %}
                            {% for i in songs |sort(attribute='title') %}
                                <div class="item">
                                    <ul>
                                        <li>
                                            <a href="?play_song={{ i.id }}">
                                                <img
                                                        src="https://www.shareicon.net/data/512x512/2016/04/07/746120_logo_512x512.png"
                                                        onmouseover="this.src='https://cdn-icons-png.flaticon.com/512/17/17550.png'"
                                                        onmouseout="this.src='https://www.shareicon.net/data/512x512/2016/04/07/746120_logo_512x512.png'"
                                                        alt="" class="templatemo-item">
                                            </a>
                                        </li>
                                        <li><span>Name</span><h4>{{ i.title }}</h4></li>
                                        <li><span>Launch Date</span><h4>{{ i.launch_date }}</h4></li>
                                        <li><span>Duration</span><h4>{{ i.duration }}</h4></li>
                                        <li><span>Replays</span><h4>{{ i.n_replays }}</h4></li>
                                        <li>
                                            <div class="main-border-button">
                                                <a href="/song/{{ i.id }}">Preview</a>
                                            </div>
                                        </li>
                                        {% if user_type == 0 %}
                                            <a href="?add_favourite_song={{ i.id }}">
                                                <div class="favourite-button"></div>
                                            </a>
                                        {% endif %}

                                            <a href="?remove_favourite_song={{ i.id }}">
                                                <div class="delete-button"></div>
                                            </a>

                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright CaFoscari© 2022 <a>Database Project</a> <br> Universita CaFoscari. All rights
                        reserved.</p>
                </div>
            </div>
        </div>
    </footer>

    </body>

{% endblock %}