<!-- This means that this template called "home" will be exactly the same as "base" and I can override anything from
"base.html"-->
<!-- this will override the block title -->
{% extends "base.html" %} {% block title %}Dashboard{% endblock %}

<!-- I override the block content created in "base.html" -->

{% block content %}
    <!--Carica il css del login da ./static-->
 <link rel="stylesheet" href="{{ url_for('static', filename='dashboard_style.css') }}">
    <h1> Albums</h1>
    <form method="POST">
        <fieldset>
            <legend><span class="number">1</span>Choose an Album</legend>
            <div class="form-group">
                <select class="text" name="album_c" id="album_c">
                    <option value="None">None</option>
                    {% if album %}
                        {% for i in album %}
                           <option value="{{i.id}}">{{i.album_name}}</option>
                        {% endfor %}
                    {% endif %}
                </select>
                {% if album %}
                    <button type="submit" class="btn btn-primary">Add Song Into This Album</button>
                {% endif %}
            </div>
        </fieldset>
    </form>
    <form method="POST">
            <legend><span class="number">2</span> Insert an Album</legend>
        <fieldset>
            <div class="form-group">
                <label for="Album_name">Insert the name of the album:</label>
                <input
                        type="text"
                        class="form-control"
                        id="Album_name"
                        name="Album_name"
                        placeholder="Enter the album's name"
                />
            </div>

            <div class="form-group">
                <label for="n_songs">Number of songs:</label>
                <input
                        type="number"
                        class="form-control"
                        id="n_songs"
                        name="n_songs"
                        placeholder="Enter the number of songs your album will contain"
                />
            </div>
            <button type="submit" class="btn btn-primary">Add Album</button>
        </fieldset>
    </form>
{% endblock %}