<!-- This means that this template called "home" will be exactly the same as "base" and I can override anything from
"base.html"-->
<!-- this will override the block title -->
{% extends "base.html" %} {% block title %}Dashboard{% endblock %}

<!-- I override the block content created in "base.html" -->

{% block content %}
    <!--Carica il css del login da ./static-->
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard_style.css') }}">
    <body>

    <div class="container">
        <div class="main-body">
            <br/>
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://avatarfiles.alphacoders.com/294/294987.png"
                                     alt="Admin"
                                     class="rounded-circle" width="150">
                                <br/>
                                {% if user_type==1 %}
                                    <div class="mt-3">
                                        <h4>Welcome back,</h4>
                                        <h2>{{ user.username }}</h2>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        {% if user_type == 0 %}
                            <div class="card-body">
                                <ul>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h3 class="mb-0">Artist:</h3>
                                        </div>
                                        <div class="col-sm-8" align="right">
                                            <h3><span>{{ artist_name }}</span></h3>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <ul>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Followers:</h6>
                                    </div>
                                    <div class="col-sm-8" align="right">
                                        <span>{{ artist.n_listeners }}</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Songs:</h6>
                                    </div>
                                    <div class="col-sm-8" align="right">
                                        <span>{{ n_songs }}</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Albums:</h6>
                                    </div>
                                    <div class="col-sm-8" align="right">
                                        <span>{{ n_album }}</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Verified:</h6>
                                    </div>
                                    <div class="col-sm-8" align="right">
                                        <span>Yes</span>
                                    </div>
                                </div>
                            </ul>
                        </div>
                        {% if user_type == 1 %}
                            <div class="card-body" align="center">
                                <ul>
                                    <div class="button">
                                        <a href="/user/dashboard/add_song" style="text-decoration: none">Add Song</a>

                                        <a href="/user/dashboard/add_album" style="text-decoration: none">Add Album</a>
                                    </div>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-content">
                    <div class="gaming-library profile-library">
                        <div class="col-lg-12">
                            <div class="heading-section">
                                <h4>Your albums:</h4>
                            </div>
                            <br>
                            {% for i in albums %}
                                <div class="item">
                                    <ul>
                                        <li><img
                                                src="https://www.shareicon.net/data/512x512/2016/04/07/746120_logo_512x512.png"
                                                alt="" class="templatemo-item"></li>
                                        <li><span>Name</span><h4>{{ i.album_name }}</h4></li>
                                        <li></li>
                                        <li><span>Launch Date</span><h4>{{ i.launch_date }}</h4></li>
                                        <li><span>Songs</span><h4>{{ i.n_songs }}</h4></li>
                                        <li>
                                            <div class="main-border-button">
                                                <a href="/user/album/{{ i.id }}">Preview</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright CaFoscari© 2022 <a>Database Project</a> <br> Universita CaFoscari. All rights
                        reserved.</p>
                </div>
            </div>
        </div>
    </footer>

    </body>
{% endblock %}