<!-- This means that this template called "home" will be exactly the same as "base" and I can override anything from
"base.html"-->
<!-- this will override the block title -->
{% extends "base.html" %} {% block title %}Home{% endblock %}

<!-- I override the block content created in "base.html" -->

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard_style.css') }}">
    <h1 align="center">Notes</h1>
    <ul class="list-group list-group-flush" id="notes">
        {% for note in user.notes %}
            <li class="list-group-item">
                {{ note.data }}
                <button type="button" class="close" onClick="deleteNote({{ note.id }})">
                    <span aria-hidden="true">&times;</span>
                </button>
            </li>
        {% endfor %}
    </ul>
    <form method="POST">
        <textarea name="note" id="note" class="form-control"></textarea>
        <br/>
        <div align="center">
            <button type="submit" class="btn btn-primary">Add Note</button>
            </br></br></br></br>
        </div>
    </form>
    <form class="form-inline my-2 my-lg-0" method = "GET">
        <input class="form-control mr-sm-2" type="Search" placeholder="Search" name="searched">
        <button class="btn success my-2 my-sm-0" type="submit"> Search</button>
    </form>
{% endblock %}


