<!-- This means that this template called "home" will be exactly the same as "base" and I can override anything from
"base.html"-->
<!-- this will override the block title -->
{% extends "base.html" %} {% block title %}Home{% endblock %}

<!-- I override the block content created in "base.html" -->

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard_style.css') }}">
    <body>


    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-content">
                    <div class="gaming-library profile-library">

                        <form class="form-inline my-2 my-lg-0" method="GET">
                            <input class="form-control mr-sm-2" type="Search" placeholder="Search" name="searched">
                            <button class="btn success my-2 my-sm-0" type="submit"> Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for i in recommended %}
    <div class="item">
      <ul>
        <li>
          <a href="?play_song={{ i.id }}">
           <img
               src="https://www.shareicon.net/data/512x512/2016/04/07/746120_logo_512x512.png"
               onmouseover="this.src='https://cdn-icons-png.flaticon.com/512/17/17550.png'"
               onmouseout="this.src='https://www.shareicon.net/data/512x512/2016/04/07/746120_logo_512x512.png'"
               alt="" class="templatemo-item">
          </a>
         </li>
         <li><span>Name</span><h4>{{ i.title }}</h4></li>
         <li><span>Launch Date</span><h4>{{ i.launch_date }}</h4></li>
         <li><span>Duration</span><h4>{{ i.duration }}</h4></li>
         <li><span>Replays</span><h4>{{ i.n_replays }}</h4></li>
         <li>
             <div class="main-border-button">
                <a href="/song/{{ i.id }}">Preview</a>
             </div>
        </li>
    </ul>
    </div>
    {% endfor %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright CaFoscari© 2022 <a>Database Project</a> <br> Universita CaFoscari. All rights
                        reserved.</p>
                </div>
            </div>
        </div>
    </footer>

    </body>
{% endblock %}


