{% extends "base.html" %} {% block title %}{{ playlist.playlist_name }}{% endblock %}

<!-- I override the block content created in "base.html" -->

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='playlist_style.css') }}">


    <body>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-content">
                    {% if playlist.playlist_name != "Favourite Songs" %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="main-profile ">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <img src="https://img.freepik.com/premium-vector/vintage-music-record-vinyl-with-note-vector-illustration_475148-272.jpg?w=2000"
                                                 alt="" style="border-radius: 23px;">
                                        </div>
                                        <div class="col-lg-4 align-self-center">
                                            <div class="main-info header-text">
                                                <h4>Playlist:</h4>
                                                <h2>{{ playlist.playlist_name }}</h2>
                                                {% if playlist.playlist_name != "Favourite Songs" %}
                                                    <br>
                                                    <h2>{{ playlist.description }}</h2>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 align-self-center">
                                            <ul>
                                                <li>User <span>{{ listener }}</span></li>
                                                <li>Creation Date <span>{{ playlist.create_date }}</span></li>
                                                <li>Number of Songs <span>{{ playlist.n_songs }}</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="gaming-library profile-library">
                        <div class="col-lg-12">
                            {% if playlist.playlist_name == "Favourite Songs" %}
                                {% if songs %}
                                    <div class="heading-section">
                                        <h4>Your favourite songs:</h4>
                                    </div>
                                    <br>
                                {% else %}
                                    <div class="heading-section">
                                        <h4>You don't have any favourite songs</h4>
                                    </div>
                                {% endif %}
                            {% else %}
                                {% if songs %}
                                    <div class="heading-section">
                                        <h4>Songs in your playlist:</h4>
                                    </div>
                                    <br>
                                {% else %}
                                    <div class="heading-section">
                                        <h4>There are no songs in this playlist</h4>
                                    </div>
                                    <br>
                                {% endif %}
                            {% endif %}
                            {% for i in songs |sort(attribute='launch_date') %}
                                <div class="item">
                                    <ul>
                                        <li>
                                            <a href="?play_song={{ i.id }}">
                                                <img
                                                        src="https://www.shareicon.net/data/512x512/2016/04/07/746120_logo_512x512.png"
                                                        onmouseover="this.src='https://cdn-icons-png.flaticon.com/512/17/17550.png'"
                                                        onmouseout="this.src='https://www.shareicon.net/data/512x512/2016/04/07/746120_logo_512x512.png'"
                                                        alt="" class="templatemo-item">
                                            </a>
                                        </li>
                                        <li><span>Name</span><h4>{{ i.title }}</h4></li>
                                        <li><span>Launch Date</span><h4>{{ i.launch_date }}</h4></li>
                                        <li><span>Duration</span><h4>{{ i.duration }}</h4></li>
                                        <li><span>Replays</span><h4>{{ i.n_replays }}</h4></li>
                                        <li>
                                            <div class="main-border-button">
                                                <a href="/song/{{ i.id }}">Preview</a>
                                            </div>
                                        </li>
                                        {% if playlist.playlist_name != "Favourite Songs" %}
                                            <a href="?remove_playlist_song={{ i.id }}">
                                                <div class="delete-button"></div>
                                            </a>
                                        {% elif playlist.playlist_name == "Favourite Songs" %}
                                            <a href="?remove_favourite_song={{ i.id }}">
                                                <div class="delete-button"></div>
                                            </a>
                                        {% endif %}
                                    </ul>
                                </div>
                            {% endfor %}
                            {% if playlist.playlist_name != "Favourite Songs" %}
                                <div class="main-border-button">
                                    <a href="/user/playlist/add_song/{{ playlist.id }}">Add Song into this playlist</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright CaFoscari© 2022 <a>Musify</a> <br> Universita CaFoscari. All rights
                        reserved.</p>
                </div>
            </div>
        </div>
    </footer>

    </body>

{% endblock %}