<!-- This means that this template called "home" will be exactly the same as "base" and I can override anything from
"base.html"-->
<!-- this will override the block title -->
{% extends "base.html" %} {% block title %}Home{% endblock %}

<!-- I override the block content created in "base.html" -->

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard_style.css') }}">
    <br/>
    <form method="POST">
        <fieldset>
            <divison class="form-group">
                <h2>You Searched For...</h2>
                <legend><span class="number"></span>Songs founded</legend>
                {% for i in searched_1 %}
                    <a href="{{ url_for('views.home') }}">{{ i.title }}</a></br>
                {% endfor %}
                <legend><span class="number"></span>Albums founded</legend>
                {% for i in searched_2 %}
                    <a href="{{ url_for('views.home') }}">{{ i.album_name }}</a></br>
                {% endfor %}
            </divison>
        </fieldset>
    </form>
    </br>

{% endblock %}


