<!-- This means that this template called "home" will be exactly the same as "base" and I can override anything from
"base.html"-->
<!-- this will override the block title -->
{% extends "base.html" %} {% block title %}Search{% endblock %}

<!-- I override the block content created in "base.html" -->

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard_style.css') }}">
    <br/>
    <form method="POST">
        <fieldset>
            <divison class="form-group">
                <h2>You Searched For...</h2>
                <legend><span class="number"></span>Artists founded</legend>
                {% for i in searched_3 %}
                    <a href="{{ url_for('views.home') }}">{{ i.username }}</a></br>
                {% endfor %}
                <legend><span class="number"></span>Albums founded</legend>
                {% for i in searched_2 %}
                    <a href="/user/album/{{ i.id }}"><h6 class="mb-0">{{ i.album_name }}</h6></a>
                {% endfor %}
                <legend><span class="number"></span>Songs founded</legend>
                {% for i in searched_1 %}
                    <a href="/song/{{ i.id }}"><h6 class="mb-0">{{ i.title }}</h6></a>
                {% endfor %}
            </divison>
        </fieldset>
    </form>
    </br>

{% endblock %}



