<!-- This means that this template called "home" will be exactly the same as "base" and I can override anything from
"base.html"-->
<!-- this will override the block title -->
{% extends "base.html" %} {% block title %}Add Song to Playlist{% endblock %}

<!-- I override the block content created in "base.html" -->

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard_style.css') }}">
    <body>


    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-content">
                    <div class="gaming-library profile-library">

                        <form class="form-inline my-2 my-lg-0" method="GET">
                            <input class="form-control mr-sm-2" type="Search" placeholder="Search" name="searched">
                            <button class="btn success my-2 my-sm-0" type="submit"> Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-content">

                    {% if not searched %}
                        <h1>No results found for "{{ search }}"</h1>
                    {% else %}
                        <h1>Your search for &nbsp; "{{ search }}"</h1>
                        <br/>
                    {% endif %}
                    {% if searched %}
                        <div class="gaming-library profile-library">
                            <div class="col-lg-12">
                                <div class="heading-section">
                                    <h4>Songs found:</h4>
                                </div>
                                <br>

                                {% for i in searched %}
                                    <div class="item">
                                        <ul>
                                            <li><img
                                                    src="https://www.shareicon.net/data/512x512/2016/04/07/746120_logo_512x512.png"
                                                    alt="" class="templatemo-item"></li>
                                            <li><span>Song's Title</span><h4>{{ i.title }}</h4></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li>
                                                <div class="main-border-button">
                                                    <a href="/song/{{ i.id }}">Preview</a>
                                                    <form method="POST">
                                                        <button name="song_id" type="submit" class="main-border-button" value="{{ i.id }}">Add In
                                                            Playlist
                                                        </button>
                                                    </form>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright CaFoscari© 2022 <a>Database Project</a> <br> Universita CaFoscari. All rights
                        reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    </body>

{% endblock %}